#menu{
    background-color: rgb(255, 228, 219);
    display: block;
    height: 32px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: larger;
    font-weight: bold;
}
h3 {
    text-align: center;
    margin-top: 20px;
    color: rgb(43, 0, 83);
}
a {
    padding: 2%;
}