<hr>
<p>property-binding works!</p>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div>
                <button (click)="toggle()">toggle</button>
                In progress : {{inProgress}}
            </div>
        </div>
        <div class="col-sm">
            <div>
                <button [disabled]='inProgress'>update</button>
                <p [hidden]='inProgress'>this is the content used to use inProgress</p>
            </div>
        </div>
    </div>
</div>
<hr>