<p>employee-data works!</p>
<h1>employee table</h1>
<div>
    <table>
        <thead>
            <tr>
                <th rowspan="2">name</th>
                <th rowspan="2">gender</th>
                <th colspan="2">address</th>            
            </tr>
            <tr>
                <th>
                    state
                </th>
                <th>
                    city
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let employee of emp'>
                <td>{{employee.name | gen:employee.gender}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.address.state}}</td>
                <td>{{employee.address.city}}</td>
            </tr>
        </tbody>
    </table>
</div>